body {
    padding: 20px;
    background: linear-gradient(to right, #00AAFF, #00FF6C); 
}

input{
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: solid 4px #d64cd9;
    width:250px;
    font-size: 16px;   
}



.qr-btn{
    background-color:#d64cd9;
    padding: 8px;
    color: white;
    cursor: pointer;
    
}
